body{
    background-image: url(../images/main_bg.jpg);
    #header1{
        display: inline-block;
        align-items: center; 
        justify-content: center;
        height: 56.5rem;
        width: 100%;
        position: relative;
        
            .maNavbar{
                align-items: center;
                display: flex;
                justify-content: center;
                width: 100%;
                position: sticky;
                top: 0;
                z-index: 1;
                
                    .menu_left{
                        display: flex;
                        border-top: solid rgb(250, 250, 250) 1px;
                        border-bottom: 1px rgb(255, 255, 255) solid;
                        width: 40%;

                    }
                    .menu_right{
                        width: 40%;
                        border-top: solid rgb(255, 255, 255) 1px;
                        border-bottom: 1px rgb(255, 255, 255) solid;
                        width: 40%;
                    }
                        .menuNav{
                            width: 100%;
                                
                                li{
                                    display: flex;
                                    justify-content: center;
                                    width: 25%;
                                        a{
                                            color: white;
                                        }
                                }
                                    a:hover{
                                        background-color: #C12D3F;
                                    }
                                    
                        }
            }
            .principalC{

                .principalTB{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 50%;
                    position: absolute;
                    top: 250px;
                    left: 25%;
                    z-index: 1;
                        .text{
                            width: 100%;
                            text-align: center;
                            font-family: 'Courgette', cursive;
                                h1{
                                    color: white;
                                    .upercase{
                                        text-transform: uppercase;
                                        font-size: 80px;
                                    }
                                    .fontsize{
                                        font-size: 60px;
                                        
                                    }
                                }
                        }
                        .buttons{
                        width: 50%;
                        justify-content: space-evenly;
                            button{
                                color: black;
                                background-color: white;
                                border: 0;
                                height: 2.5rem;
                                width: max-content;
                                border-radius: 25px;
                            }
                            button:hover{ 
                                color: white;
                                background-color:#C12D3F ;
                            }
                        }
                }
                    #monCarousel{
                        position: absolute;
                        top: 0;
                    .carousel-inner{
                        filter: brightness(30%);
                    }
                }
            }
    }
}
