// rajout de couleurs 
$theme-colors: (
    "clair":   #EAF0FF ,
    "rose" : #F3826F, 
    "roselight" :#f1a597,
    "grisé" : #16161600,
    "rouge" : #cc3746,
    "bleuet": #F2F6FF,
    "black" : #000,
    "silver"  : #C0C0C0



);

// rajout de size 
$sizes: (
    
    20: 20%,
    30: 30%,
    40: 40%,
    60: 60%,
    65: 65%,
    70: 70%,
    80: 80%,
    85: 85%,
    90: 90%,
    95: 95%,
    125: 125%


);
// polices example 

$lora: 'Lora', serif;
$courgette: 'Courgette', cursive;
// rajout de espacement

$spacers: (

    6: 6*1em,
    7: 7*1em

);
